.navBar{
    display: flex;
    flex: 0 0 50px;
}

.navList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navItem{
    
}

.navButton{
    all: unset;
}